/* ==============#GRID================= */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-2 {
  width: -webkit-calc((100% - 40px) / 2);
  width: -moz-calc((100% - 40px) / 2);
  width: calc((100% - 180px) / 2);
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

/* ==================#BOX-SIZING======================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ===========#PAGE WRAPPER================ */
.page-wrapper {
  min-height: 100vh;
}

/* ==========#WRAPPER================ */
.wrapper {
  margin: 0 auto;
}

.wrapper--w960 {
  max-width: 960px;
}

.wrapper--w780 {
  max-width: 780px;
}

.wrapper--w680 {
  max-width: 680px;
}

/* ==============#BUTTON===================== */
.btn {
  display: inline-block;
  line-height: 50px;
  padding: 0px 20px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  font-family: "Poppins", "Arial", "Helvetica Neue", "sans-serif";
  width: 60%;
  margin-top: 60px;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}

.btn--blue {
  background: #a81da4;
}

.btn--back {
  background: #6c1da8;
  display: block;
  text-align: center;
  margin-top: 40px;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 2px 2px 1px black;
}

.btn--blue:hover {
  background: #cf35cb;
}

/* ========#FORM============= */
.input--style-4 {
  line-height: 50px;
  background: rgb(240, 240, 240);
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 0.5px solid black;
}

.label {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 7px;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.8;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input:checked~.checkmark {
  background-color: #ffcee7;
}

.radio-container input:checked~.checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #b84690;
}

.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 0.25px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-group {
  position: relative;
  margin-bottom: 10px;
}

/* ==========#TITLE========== */
.title {
  font-size: 50px;
  text-align: center;
  color: #000000;
  font-weight: 400;
  margin-bottom: 5px;
}

/* ==========#DESC========== */
.desc {
  text-align: center;
  color: #C93D7C;
  font-size: 17px;
}

/* =========#CARD=========== */
.card-4 {
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(245, 245, 245, 0.85));
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
  box-shadow: 18px 25px 28px #00000073;
}

@media (max-width: 767px) {
  .card-4 .card-body {
    padding: 50px 40px;
  }
}

.main-bg {
  background-image: url("../images/1700233.jpg");
  background-size: cover;
  display: block;
  background-attachment: fixed;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/

}

.select-selected {
  border-radius: 5px;
  background: rgb(240, 240, 240);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid black;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-selected {
  border: 1px solid black;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgb(240, 240, 240);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 5px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.col-3 {
  margin-left: 30px;
}

.col-4 {
  margin-left: 45px;
}

.col-5 {
  width: 200px;
  height: 200px;
  margin-left: -110px;
  margin-top: -60px;
}

.col-6 {
  margin-left: 100px;
}